  <div class="alert alert-info">
    <h5>Image Title: <strong>{{model.collection.items.0.data.0.title}}</strong></h5>
    <p>Description: {{model.collection.items.0.data.0.description}}</p>
      <br>
        <img src= "{{model.collection.items.0.links.0.href}}" class="img-thumbnail"/>
      <br>
      <b>
        <a href="{{model.collection.items.0.links.0.href}}"> Image link</a></b>
      <br><br>
    <p><b>Key Words:</b></p>
    <ul>
      {{#each-in model.collection.items.0.data.0.keywords as |key value|}}
          <li>{{value}}</li>
      {{/each-in}}
    </ul>
  </div>
    <button type="button" class="btn btn-success" {{action 'goBack' }}>  <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Go back to search</button>
    <button type="button" class="btn btn-success" {{action 'loadNext' }}>Load The Next Image <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
{{outlet}}
